deploy:
  script:
    - rustup update
    - rustup target add wasm32-unknown-unknown
    - rustup toolchain install nightly
    - rustup override set nightly
    - bash build.sh
    - cp -r * /home/admin/www/life
